<launch>
    <!-- Declare arguments -->
    <arg name="robot_ip"                default="172.29.111.230" />
    <arg name="roscore_ip"              default="127.0.0.1" />
    <arg name="robot_port"              default="9559" />
    <arg name="network_interface"       default="wlp0s20f3" />
    <arg name="namespace"               default="naoqi_driver" />

    <!-- Set it on Parameter Server which camera I'm using -->
    <param name="/soundDetection/unit_test" value="false"/>

    <!-- Launch naoqi_driver_node -->
    <node pkg="naoqi_driver" type="naoqi_driver_node" name="$(arg namespace)" required="true"
            args="--qi-url=tcp://$(arg robot_ip):$(arg robot_port) --roscore_ip=$(arg roscore_ip) --network_interface=$(arg network_interface) --namespace=$(arg namespace)"
            output="screen" />

    <node pkg="naoqi_driver" type="naoqiAudioPublisher.py" name="naoqiAudioPublisher" output="screen"/>

    <node pkg="naoqi_driver" type="run_naoqiAudio.sh" name="naoqiAudio" args="--ip=$(arg robot_ip) --port=$(arg robot_port)"/>
</launch>